.card_listname{
  padding: 30px;
  border: none;
  outline: none
}
.card_listname .heroHeading p{
  width: 100%;
  padding-top: 20px;
}

.card_listname .card_body-content{
  background-color: #f8a5c2;
}

.gallery_img img{
  width: 100%;
  height: 300px;
  object-fit: cover;
 
}
/* projects */
.project_box{
 
  background-color: rgba(155, 17, 82, 0.8);
  text-align: center;
  padding: 40px  0%;
  color: #ffff;
}
.project_box a{
  text-decoration: none;
  color: #ffff;
  background-color: cornflowerblue;
  padding: 8px 30px;
}
.project_box1{
  background-color: rgba(80, 8, 204, 0.8);
  color: #ffff;
  text-align: center;
}
.project_box1 a{
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 30%;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 22px;
  font-size: 13px;
}
.project_box1 a:hover{
  background-color: #f8a5c2;
  color: #000;
}

/* media pages */
.tabs_section{
  background-color: crimson;
}
.tabs_section p{
  color: #ffff;
}
.tabs_section ul{
  border: none;
}
.tabs_section ul li{
  color: red;
  font-size: 33px;
  border: none;
  outline: none;
}
.tabs_section ul li:hover{
  display: block;
  border: none;
  outline: none;
}
.tabs_section ul li a.active{
  background: none;
}

#fill-tab-example ul li:hover{
  color: yellow;
  border: none;
  outline: none;

}



/* .celebrity_media  */

@media(max-width:768px){

.main_head_title {
  font-size: 18px;
  margin-top: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.celebrity_media .gtetry ul li{
  font-size: 14px;
}


}
@media(max-width:500px){
  .main_head_title {
    font-size: 19px;
    display: flex;
    flex-direction: column;
  }
 
  .gtetry{

  }
  .gtetry ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }
  .gtetry ul li{
    font-size: 22px;
  }
.celebrity_media .gtetry ul li{
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0%;
}
.celebrity_media .gtetry ul:hover{
  border: none;
  outline: none;
  padding: 0%;
}
}