.home_program{
  background-color: #eeee;
  padding: 20px 0%;
}
.home_program_left{
  border-right: 1px solid  #000;
}
.rounded{
  background-color: #ffff;
  text-align: center;
  padding: 20px 0%;
}

/* impact section */
.our_reach{
  border-left: 2px solid red;
  padding-left: 10px;
}
.our_reach h3{
  color: red;

}
.our_reach span{
  font-size: 28px;
  font-weight: 700;
}
.our_reach strong{
  color: red;
}
/* our achiment  */
.d_flex_centert{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.achive_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.achive_content h4{
  font-size: 32px;
  color: red;
  font-weight: 800;
}
.since_date{
  margin-right: 40px;
}
.since_desc{
  border-left: 1px solid #000;
  padding-left: 15px;
}
.sine_right{
  border-left: 1px solid  #000;
  padding-left: 10px;
}
.sine_right h4{
  font-size: 32px;
  color: red;
  font-weight: 800;
}
.icons img{
}
.khefhfhj img{
  width: 10px;
  height: 50px;
  object-fit: cover;
}
/* home_stori_Chnage */
.home_stori_Chnage img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* .home_child_banner  */
.home_child_banner{
  background-color: #e9e8e8;
  margin: 30px 0;
}
.home_child_banner img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.home_child_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home_child_content p{
  font-size: 24px;
}

/* card */
.home_card{
  text-align: center;
}
.home_card img{
  width: 90%;
  height: 140px;
  margin: 10px auto;
}