.heroHeading h1{
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 26px;
  font-weight: 800;
  color: #0a4158;
}
.heroHeading p{
  width: 80%;
  margin: 20px auto;
  margin-top: -20px;
  margin-bottom: 20px;
}