*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.padding_section{
  padding: 20px 6%;
}
.d-flex{
  display: flex;
}
.d_sbetween{
  display: flex;
  justify-content: space-between;
}
.d_flex_center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
