
.ewrewreret{
  background-color: #11a2b2;
  padding: 4px 20px;
  text-align: start;
}
.ewrewreret i{
  width: 50px;
  height: 50px;
  background-color: #fff;
  object-fit: cover;
  font-size: 28px;
  text-align: center;
  margin: 5px 0;
}
.paymentoption{
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 12px;
  text-align: start;
  
}
.paymentoption .title{
  font-size: 17px;
  text-align: start;
  
}
.paymentoption .titledesc{
  font-size: 13px;
  margin-top: -10px;
  background-color: #eeee;
  padding: 2px 10px;
  font-weight: 500;
  color: #000;
}

.paytm_options{
  width: 100%;
  height: 50vh;
  overflow-y: auto;
}
.paytm_title{
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-align: start;
}

.allpay_scanner{
  border: 1px solid black;
}
.allpay_scanner img{
  width: 100%;
  height: 20vh;
  object-fit: cover;
  margin: 5px;
}
.all_pay_scanner_icons i{
  font-size: 26px;
  margin-right: 10px;
}

.fgggee{
  border: 1px solid blueviolet;
  padding: 10px 0px;
  margin-top: -12px;

 
}
.mobikwik_payment{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobikwik_payment i{
  font-size: 28px;
  margin-right: 10px;
}

/* debitcard option */
.border_bottom{
  border-bottom: 1px solid #000;
  padding: 8px 12px;
}

/* card option */
.multiple_payment_option{
  border: 1px solid crimson;
}
.card_title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card_title i{
  margin-right: 10px;
  font-size: 28px;
  margin-top: 10px;
}
.card_option_payment{
  display: flex;
}
.mastercard-icon{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-left: 30px;

}
.mastercard-icon i{
  margin-left: 10px;
}
.border-none {
  border: none;
}
.border_bottomm{
  border: 6px solid #eeee;
  margin-top: 30px;
}
.span{
  color: rgba(71,21,211,0.71);
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}


/* bottom  */

.select_pay{
  /* box-shadow: 0px 20px 0px rgba(71,21,211,0.71); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
  padding: 15px  10px;
}
.indianrupees{
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.viewdetails{
  margin-top: -20px;
  color: #000;
  font-size: 14px;
}
.select_pay button{
  background-color: blue;
  border-radius: 5px;
  padding: 10px 90px;
}

/* debit card  */
.card_desc{
  display: flex;
  flex-direction: column;

}
.card_desc::placeholder{
  padding: 10px;
}
/* paytm option */
.phone_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone_option i{
  font-size: 22px;
  
}
.phone_option p{
  margin-top: 15px;
  margin-left: 5px;
}
/* :checked */
.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.checkbox-circle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #aaa;
  transition: all 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle {
  background: #4CAF50;
  border-color: #4CAF50;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0;
  transition: all 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark {
  opacity: 1;
}

.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  transition: stroke-dashoffset 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark-circle {
  stroke-dashoffset: 0;
}

.checkmark-kick {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  transition: stroke-dashoffset 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark-kick {
  stroke-dashoffset: 0;
}

